<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circles</title>
    <link href="/output.css" rel="stylesheet">
</head>
<body class="flex justify-center items-center h-screen">

    <div class="absolute top-0 left-0 h-full w-full bg-light-mode-bg shadow-background-shadow -z-10">
    </div>

    <div class="absolute top-0 left-0 h-full w-full bg-gradient-to-b from-gradient-lighter-blue via-gradient-medium-blue to-gradient-darker-blue -z-20">
    </div>

    <section class="h-screen flex flex-col justify-between w-325">

        <div class="flex flex-col items-center text-center w-full my-auto">
            <img 
                src="./circles_logo_lightmode.png" alt="Circles logo"
                class="h-60 mb-28 mt-10"
            />
            <h1 class="text-3xl font-medium block mb-8 leading-h1">
                <span class="block">Welcome to</span>
                <span class="block">Circles!</span>
            </h1>
            <p class="mb-4 font-normal text-15 leading-body">
                <span class="block">Circle is an app dedicated to close friends</span>
                <span class="block">who enjoy capturing and sharing group photos</span>
                <span class="block">of their milestones and adventures.</span>
            </p>
        </div>
        <div class="h-14 w-325 flex justify-between px-4 pb-6">
            <form action="">
                <button class="text-body">Skip</button>
            </form>
        
            <form action="">
                <button class="text-body">NEXT</button>
            </form>
        </div>
    </section>

</body>
</html>