<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circles</title>
    <link href="./output.css" rel="stylesheet">
    <script defer src="./../../static/js/apiCalls.js"></script>
    <script defer src="./../../static/js/frontend.js"></script>
</head>
<body class="flex justify-center items-center h-screen">

    <div class="absolute top-0 left-0 h-full w-full bg-light-mode-bg shadow-background-shadow -z-10">
    </div>

    <div class="absolute top-0 left-0 h-full w-full bg-gradient-to-b from-gradient-lighter-blue via-gradient-medium-blue to-gradient-darker-blue -z-20">
    </div>

    <section class="h-screen flex flex-col justify-between w-325">
        
    </section>

</body>
</html>