<form action="/circle/clvo660py0001kusrb2sz3pxs/invite" method="POST" id="circleInviteForm">
    <div>
        <input type="checkbox" id="A_A" name="A_A" for="circleInviteForm">
        <label>A_A</label>
    </div>
    <div>
        <input type="checkbox" id="B_B" name="B_B" for="circleInviteForm">
        <label>B_B</label>
    </div>
    <div>
        <input type="checkbox" id="C_C" name="C_C" for="circleInviteForm">
        <label>C_C</label>
    </div>
    <button type="submit">Invite to circle</button>
</form>